<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/style.css" rel="stylesheet"/>
    <title>Audio</title>
</head>
<body>
    <div class="container">
        <div class="header">
            Шапка сайту
        </div>

        <div class="content">
            <div class="menu">
                <ul>
                    <li class="redirect"><a href="../../index.html">Головна</a></li>
                </ul>
            </div>
    
            <div class="main">
                <h1>Таблиця</h1>
                <table>
                    <tr>
                        <th>Виконавець</th>
                        <th>Назва</th>
                        <th>Посилання на Spotify</th>
                    </tr>
                    <tr>
                        <th>KARATEL</th>
                        <th>THE 7TH CIRCLE</th>
                        <th><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/07c9rvlcwDJXmC9xDSwflm?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></th>
                    </tr>
                    <tr>
                        <th>orgetplus, Heptaknot</th>
                        <th>SPONGEBOB</th>
                        <th><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1rHzwb7swzYkgqGQRBN3Re?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></th>
                    </tr>
                    <tr>
                        <th>KARATEL, Hxlx, Tsaruicide</th>
                        <th>CHAMBER 13</th>
                        <th><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0GSiCJ4Sg3OMtBB1QYzWet?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></th>
                    </tr>
                    <tr>
                        <th>GOREOFFLINE, Hxlx, GOREFUL</th>
                        <th>MPT-SD</th>
                        <th><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/66iZAzPXBBf2SzY1LzkVsp?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></th>
                    </tr>
                    <tr>
                        <th>Craig Scissorhands</th>
                        <th>BLOOD MONEY</th>
                        <th><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1bDy3EnJjgbzTX54NoTH4M?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></th>
                    </tr>
                    <tr>
                        <th>KARATEL</th>
                        <th>SILENT KILLER</th>
                        <th><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5QHVDWw06p0uzdLPmGvCPk?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></th>
                    </tr>
                    <tr>
                        <th>Hxlx</th>
                        <th>JIHAD JUGGERNAUT</th>
                        <th><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6LJQiYfU2muiJpyPkqBxvo?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></th>
                    </tr>
                </table>
            </div>
    
            <div class="sidebar">
                <h3>Лабораторна робота 3</h3>
                <ul>
                    <li><a href="../page_1/index.html">Картинка</a></li>
                    <li><a href="../page_2/index.html">Відео</a></li>
                    <li><a href="../page_3/index.html">Аудіо</a></li>
                </ul>
                <h3>Лабораторна робота 4</h3>
                <ul>
                    <li><a href="index.html">Таблиця</a></li>
                </ul>
            </div>
        </div>

        <div class="footer">
            Футер сайту
        </div>
    </div>
</body>
</html>
