<!DOCTYPE html>
<html lang="uk"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet"/>
    <title>Лабораторна робота 2 - Варіант 3</title> </head>
<body>
    <div id="header">
        <a>
            Заголовок Сайту: Важлива Інформація та Новини. Цей простір ідеально підходить для логотипу, назви компанії та головного навігаційного меню або слогану.
        </a>
    </div>
    <div id="sidebar">
        <a href="#">
            Бічна панель: <br> Архів новин <br>
            Категорії <br>
            Популярні статті <br>
            Теги
        </a>
    </div>
    <div id="main">
        <div id="menu">
            <a href="#">
                Внутрішнє меню: <br> Підрозділ 1 <br>
                Підрозділ 2 <br>
                Налаштування <br>
                Допомога
            </a>
        </div>
        <div id="content">
            <a>
                Основний вміст сторінки знаходиться тут. У цьому прикладі основний блок розділений на меню та контент. Цей текст належить до блоку контенту, де може бути детальна інформація, статті, зображення або інтерактивні елементи, пов'язані з обраним пунктом меню.
            </a>
        </div>
    </div>
    <div id="footer">
        <a>
            Підвал сайту. <br> Тут зазвичай розміщують копірайт (© 2025), посилання на політику конфіденційності, умови використання та іншу службову інформацію.
        </a>
    </div>
</body>
</html>