<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet"/>
    <title>lab2</title>
</head>
<body>
    <div id="header">
        <a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sequi nam omnis expedita libero at eligendi rerum, quis voluptatem recusandae eveniet hic ipsa asperiores incidunt adipisci exercitationem, nisi reprehenderit beatae.</a>
    </div>
    <div id="sidebar">
        <a>Lorem ipsum dolor sit amet consectetur</a>
    </div>
    <div id="main">
        <div id="menu">
            <a>Lorem, ipsum dolor sit amet consectetur</a>
        </div>
        <div id="content">
            <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae commodi perspiciatis facilis reiciendis blanditiis hic reprehenderit, maxime labore mollitia quod eum dolor quia. Omnis, cupiditate neque laboriosam optio saepe officia!</a>
        </div>
    </div>
    <div id="footer">
        <a>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor sapiente praesentium nobis provident beatae cum nemo odit autem debitis, nesciunt et, hic odio temporibus modi facilis quasi maxime voluptatem minima?</a>
    </div>
</body>
</html>