.flex-container {
    display: flex;
    border: 3px solid black;
}

.inline-flex-container {
    display: inline-flex;
    border: 3px solid black;
}

.flex-item {
    text-align: center;
    font-size: 110%;
    color: white;
    padding: 1em;
}

.color1 {
    background-color: #70AEED;
}

.color2 {
    background-color: #D5D5E3;
}

.color3 {
    background-color: #E14068;
}
