<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/style.css" rel="stylesheet"/>
    <title>Video</title>
</head>
<body>
    <div class="container">
        <div class="header">
            Шапка сайту
        </div>

        <div class="content">
            <div class="menu">
                <ul>
                    <li class="redirect"><a href="../../index.html">Головна</a></li>
                </ul>
            </div>
    
            <div class="main">
                <h1>Відео</h1>
                <video controls>
                    <source src="../../resources/video.mp4" type="video/mp4">
                </video>
            </div>
    
            <div class="sidebar">
                <h3>Лабораторна робота 3</h3>
                <ul>
                    <li><a href="../page_1/index.html">Картинка</a></li>
                    <li><a href="index.html">Відео</a></li>
                    <li><a href="../page_3/index.html">Аудіо</a></li>
                </ul>
            </div>
        </div>

        <div class="footer">
            Футер сайту
        </div>
    </div>
</body>
</html>
