<!DOCTYPE html>
<html lang="uk">  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet"/>
    <title>Лабораторна робота 2</title> </head>
<body>
    <div id="header">
        <a>Ласкаво просимо на головну сторінку! Тут ви знайдете основну інформацію про наш проект та його можливості. Ми прагнемо надати найкращий досвід для наших користувачів.</a>
    </div>
    <div id="leftSidebar">
        Навігація по сайту: 
        <a href="#">
            <br> Головна <br>
            Про нас <br>
            Послуги <br>
            Контакти
        </a>
    </div>
    <div id="rightSidebar">
        Корисні посилання: 
        <a href="#">
            <br> Документація <br>
            Часті запитання (FAQ) <br>
            Підтримка
        </a>
    </div>
    <div id="main">
        <a>
            Це основний розділ сторінки. Тут розміщується головний контент, наприклад, статті, описи продуктів або послуг. Цей блок є центральним елементом, що привертає увагу відвідувачів та надає їм ключову інформацію. Ми постійно працюємо над оновленням вмісту.
        </a>
    </div>
    <div id="footer">
        <a>
            © 2025 Назва Вашої Компанії або Проекту. Всі права захищено. Зв'яжіться з нами для отримання додаткової інформації або якщо у вас виникли запитання. Ми завжди раді допомогти!
        </a>
    </div>
</body>
</html>