<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet"/>
    <title>lab2</title>
</head>
<body>
    <div id="header">
        <a>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae deleniti rem similique earum veritatis architecto recusandae quasi voluptate. Veniam repellendus obcaecati aperiam sint qui quod aliquam rerum sapiente quia cumque?</a>
    </div>
    <div id="leftSidebar">
        <a>Lorem ipsum dolor sit amet consectetur</a>
    </div>
    <div id="rightSidebar">
        <a>Lorem ipsum dolor sit amet consectetur</a>
    </div>
    <div id="main">
        <a>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis omnis non culpa quibusdam ipsum aspernatur, illum eius facere recusandae consequuntur officiis harum nesciunt beatae magni ex doloribus repellat vel commodi?</a>
    </div>
    <div id="footer">
        <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero possimus, ea natus ullam iure rerum odio assumenda? Veniam, voluptatum culpa! Distinctio officia vitae amet cupiditate voluptas hic in ea consectetur!</a>
    </div>
</body>
</html>