<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet"/>
    <title>lab2</title>
</head>
<body>
    <div id="header">
        <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iure, omnis atque officia sapiente adipisci quaerat quia nesciunt id exercitationem odit distinctio similique recusandae nam magnam unde ducimus et voluptate.</a>
    </div>
    <div id="sidebar">
        <a>Lorem ipsum dolor, sit amet consectetur</a>
    </div>
    <div id="main">
        <a>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas asperiores, facere officiis debitis placeat distinctio excepturi atque architecto quod quis mollitia consequatur amet adipisci ea animi at. Iure, quidem quod!</a>
    </div>
    <div id="footer">
        <a>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, adipisci quia est corporis porro eaque sit magnam explicabo dolor. Obcaecati quibusdam nam hic non, voluptatem exercitationem! Quo quod sunt esse?</a>
    </div>
</body>
</html>