<!DOCTYPE html>
<html lang="uk"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet"/>
    <title>Лабораторна робота 2 - Варіант 2</title> </head>
<body>
    <div id="header">
        <a>
            Вітаємо на нашому ресурсі! Цей заголовок представляє основну тему або назву вашого веб-сайту. Він має бути чітким та привабливим для відвідувачів.
        </a>
    </div>
    <div id="sidebar">
        Меню сайту: 
        <a href="#">
            <br>Розділ 1 <br>
            Розділ 2 <br>
            Галерея <br>
            Блог <br>
            Зворотній зв'язок
        </a>
    </div>
    <div id="main">
        <a>
            Основний контент сторінки знаходиться тут. Ви можете розмістити статті, новини, описи проектів чи будь-яку іншу важливу інформацію. Цей блок займає центральне місце і повинен містити найцінніший матеріал для користувачів.
        </a>
    </div>
    <div id="footer">
        <a>
            Контактна інформація: example@email.com | Телефон: +380 XX XXX XX XX. <br> Розроблено [Ваше Ім'я/Назва Компанії], 2025. Усі матеріали захищені авторським правом.
        </a>
    </div>
</body>
</html>